.rounded-imgs {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}


.nav-link {
    color:white;
}
#intro {
    background-image: url(/asset/img/new-york.jpg);
    height: 600px;
    width: 1200;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
  }
  .background-white{
      background-color:rgba(255,255,255,0.6);
           
  }

 .header-text-one{ 
      font-size: 100px;
      

  }

 .header-text-two{ 
      font-size: 75px;
  }
